<!--<div class="container c-component no-opacity fade-in col-md-6 p-2 text-large">
  <h3>Edit Details</h3>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()" *ngIf="editForm">
    <div class="form-group m-2 row">
      <div class="col-md-3">
        <app-label-validation [form]="editForm" [inputName]="'name'"></app-label-validation>
        <label for="name">Name:</label>
      </div>
      <div class="col-md-9">
        <input type="text" class="border-bottom w-100" formControlName="name" required />
        <br />
        <span *ngIf="editForm.get('name').invalid" class="danger d-block w-100">
          <span *ngIf="editForm.get('name').errors.minlength">Name should be longer than 1 character</span>
          <span *ngIf="editForm.get('name').errors.required">Please fill in your email</span>
        </span>
      </div>
    </div>
    <div class="form-group m-2 row">
      <div class="col-md-3">
        <app-label-validation [form]="editForm" [inputName]="'email'"></app-label-validation>
        <label for="email">Email:</label>
      </div>
      <div class="col-md-9">
        <input type="text" class="border-bottom w-100" formControlName="email" required />
        <br />
        <span *ngIf="editForm.get('email').invalid" class="danger d-block w-100">
          <span *ngIf="editForm.get('email').errors.email">Please enter a valid email</span>
          <span *ngIf="editForm.get('email').errors.required">Please fill in your name</span>
        </span>
      </div>



    </div>
    <div class="form-group m-2 row">
      <div class="col-md-3">
        <app-label-validation [form]="editForm" [inputName]="'address'"></app-label-validation>
        <label for="address">Address:</label>
      </div>
      <div class="col-md-9">
        <input type="text" class="border-bottom d-inline-block w-100" formControlName="address" /><br />
        <span *ngIf="editForm.get('address').invalid" class="danger d-block w-100">
          <span *ngIf="editForm.get('address').errors.required">Please fill in an  adress</span>
        </span>
      </div>
    </div>
    <div class="form-group m-2 row">
      <div class="col-md-3">
        <app-label-validation [form]="editForm" [inputName]="'phoneNumber'"></app-label-validation>
        <label for="phoneNumber">Phone:</label>
      </div>
      <div class="col-md-9">
        <input type="text" class="border-bottom w-100" formControlName="phoneNumber" />
        <br />
        <span *ngIf="editForm.get('phoneNumber').invalid" class="danger w-100 d-block">
          <span *ngIf="editForm.get('phoneNumber').errors.required">Please fill in your number</span>
        </span>
      </div>

    </div>


    <div class="col-md-12 row">
      <div class="col-md-6">
        <button type="submit" class="button d-inline-block  ml-2" [disabled]="editForm.invalid" [allowSubmit]="editForm.valid">Save</button>
      </div>
      <div class="col-md-6">
        <button class="button d-inline-block bg-danger" (click)="onCancelEdit()" type="button">Cancel</button>
      </div>
    </div>
  </form>
</div>
<app-confirm *ngIf="isConfirmBoxOpen" [question]="confirmQuesion" (close)="isConfirmBoxOpen = false" (confirm)="onConfirm()"></app-confirm>
<app-alert *ngIf="(error$ | async) as error" [message]="error" (close)="onCloseAlert()"></app-alert>-->
