<div class="container c-component no-opacity fade-in col-md-6 p-2 text-large">
  <h3>Edit Details</h3>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)" *ngIf="customerEdit$ | async as customerEdit">
    <div class="form-group m-2 row">
      <div class="col-md-3">
        <span *ngIf="name.touched" [labelValidation]="name.valid"></span>
        <label for="name">Name:</label>
      </div>
      <div class="col-md-9">
        <input type="text" class="border-bottom w-100" name="name" required minlength=2 [ngModel]="customerEdit.name" #name="ngModel"/>

        <span *ngIf="name.invalid" class="danger d-block w-100">
          <span *ngIf="name.errors?.minlength">Name should be longer than 1 character</span>
          <span *ngIf="name.errors?.required">Please fill in your name</span>
        </span>
      </div>
    </div>
    <div class="form-group m-2 row">
      <div class="col-md-3">
        <span *ngIf="email.touched" [labelValidation]="email.valid"></span>
        <label for="email">Email:</label>
      </div>
    <div class="col-md-9">
      <input type="text" class="border-bottom w-100" name="email" [ngModel]="customerEdit.email" #email="ngModel" required email/>
      <span *ngIf="email.invalid" class="danger d-block w-100">
        <span *ngIf="email.errors?.email">Please enter a valid email</span>
        <span *ngIf="email.errors?.required">Please fill in your email</span>
      </span>
    </div>
  </div>


    <div class="form-group m-2 row">
      <div class="col-md-3">
        <span *ngIf="address.touched" [labelValidation]="address.valid" ></span>
        <label for="address">Address:</label>
      </div>
    <div class="col-md-9">
        <input type="text" class="border-bottom d-inline-block w-100" name="address" #address="ngModel" [ngModel]="customerEdit.address" required/><br />
        <span *ngIf="address.invalid" class="danger d-block w-100">
          <span *ngIf="address.errors?.required">Please fill in an  adress</span>
        </span>
      </div>
    </div>
    <div class="form-group m-2 row">
      <div class="col-md-3">
        <span *ngIf="phone.touched" [labelValidation]="phone.valid"></span>
        <label for="phoneNumber">Phone:</label>
      </div>
      <div class="col-md-9">
        <input type="text" class="border-bottom w-100" name="phoneNumber" #phone="ngModel" [ngModel]="customerEdit.phoneNumber" required pattern="^\d{10}$"/>
        <span *ngIf="phone.invalid" class="danger w-100 d-block">
          <span *ngIf="phone.errors?.required">Please fill in your number</span>
          <span *ngIf="phone.errors?.pattern">the Number has to be 10 digits</span>
        </span>
      </div>

  </div>


    <div class="col-md-12 row">
      <div class="col-md-6 mb-1">
        <button type="submit" class="button d-block w-md-50-w-s-75 mx-auto" [disabled]="f.invalid" [allowSubmit]="f.valid">Save</button>
      </div>
      <div class="col-md-6">
        <button class="button d-block bg-danger w-md-50-w-s-75 mx-auto" (click)="onCancelEdit()" type="button">Cancel</button>
      </div>
    </div>
  </form>
</div>
<app-confirm-dialog *ngIf="isConfirmDialogOpen" [question]="'Are you sure you want to discard the changes you have made?'"  (isConfirmed)="onConfirm($event)"></app-confirm-dialog>
<app-alert *ngIf="(error$ | async) as error" [message]="error" (close)="onCloseAlert()"></app-alert>
