<div class="c-component text-center fade-in " *ngIf="ticket$ | async as ticket">
  <div>
      <span [statusColor]="ticket.status" class="text-start float-left">
        ticket status: {{ticket.status}} <span *ngIf="ticket.status!=open">at {{ticket.closingDate  |date :'dd/MM/yyyy-HH:mm'}}</span>
      </span><br />
      <button *ngIf="ticket.status===open"
              (click)="confirmCloseTicket = true"
              class="button-secondary bg-danger float-left">
        Close ticket
      </button>
</div>

  <h2>ticket#: {{ticket.id}} {{ticket.title}}</h2>

  <br />
  <app-ticket-reply *ngFor="let reply of ticket.replies" [ticketReply]="reply" [isCustomer]="isCustomer"></app-ticket-reply>
  <ng-container *ngIf="ticket.status===open">
    <a *ngIf="displayAdd" routerLink="{{location}}/add-reply" class="button mx-auto" (click)="displayAdd = false" >Add Reply</a>
    <router-outlet></router-outlet>
  </ng-container>

</div>

<app-confirm-dialog *ngIf="confirmCloseTicket" [question]="'Are you sure you want to close this ticket?'" (isConfirmed)="onConfirm($event)"></app-confirm-dialog>
<app-alert *ngIf="(error$ | async) as error" [message]="error" (close)="onCloseAlert()"></app-alert>
