<div class="d-block mx-auto box  mt-5 rounded bg-light border border-dark b-shadow">
  <h3 class='text-center m4'>Refresh token for pre registered user</h3>
  <p class="m-5 text-center">
    Use this option if you have pre registered a user, but the token expired before he completed the registration process.
  </p>
  <div class='text-center h3'>
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)" class="m-5 text-large text-center col-md-10">
      <div class="col-md-8 row mb-2 mx-auto">
        <div class="col-md-4">
          <span *ngIf="email.touched" [labelValidation]="email.valid"></span>
          <label>Personal Email:</label>
        </div>

        <div class="col-md-8">
          <input type="text" ngModel name="email" #email="ngModel" required email class="mx-auto d-block box-field" />
          <span *ngIf="!email.valid && email.touched" class="danger mx-auto d-block box-field">
            <span *ngIf="email.errors.required">Please enter an email</span>
            <span *ngIf="email.errors.email">Please enter a valid email</span>
          </span>
        </div>
      </div>
      <button type="submit" class="button d-block mx-auto text-large w-50" [disabled]="!f.valid" [allowSubmit]="f.valid">Resend email</button>
    </form>
  </div>
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
</div>
<app-alert *ngIf="message!=null" [message]="message" (close)="message = null"></app-alert>
<app-alert *ngIf="(error$ | async) as error" [message]="error" (close)="onCloseAlert()"></app-alert>

