<div class=" col-md-6 d-block mx-auto">

  <div *ngIf="!isCustomer;else customer">
    <div *ngIf="!isAdminDash;else adminDash">
      <h3>Search</h3>

      <label>Ticket</label>
      <input type="radio" name="searchType" value={{ticketSearchType}} [checked]="true" (change)="onSearchTypeChange($event)" />

      <label>Customer</label>
      <input type="radio" name="searchType" value={{userSearchType}} (change)="onSearchTypeChange($event)" />
    </div>
    <ng-template #adminDash>
      <h3>Search Supporter By Name</h3>
    </ng-template>
  </div>
  <ng-template #customer>
    <h3>Search Content</h3>
    <label></label>
  </ng-template>

  <input type="text" #searchInput class="w-100 btn Ingredient" minLength="2" />
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <ul *ngIf="!hide" class="search-ul w-100 select" id="resultList">
    <li *ngFor="let item of users" (click)="onSelectUser(item.id)" class="pointer">{{item.name}}</li>
    <li *ngIf="users.length< 1 "> No results</li>
  </ul>
</div>

