<div class="d-block mx-auto box text-large text-center m-5">
  Feel free to register your own users by providing your real email address and confirming the registration.<br />
  This is an Initial User list for testing:
  <ul>
    <li>bob@mail.com - a12345 (customer)</li>
    <li>jack@mail.com - a12345 (customer)</li>
    <li>shlomo@support-system.com - a12345 (supporter)</li>
    <li>dave@support-system.com - a12345 (supporter)</li>
    <li>ed@support-system.com - a12345 (admin)</li>
  </ul>
</div>
