<div class="c-component text-center fade-in mt-4">
  <h2>New Support Ticket</h2>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="row">
      <div class="col-md-3">
        <span *ngIf="title.touched" [labelValidation]="title.valid"></span>
        <label>Title</label>
      </div>
      <div class="col-md-5">
        <input type="text" ngModel #title="ngModel" name="title" required minlength="4" maxlength="30" class="border w-100" /><br />
        <span *ngIf="title.invalid && title.touched" class="danger w-100 d-block">
          <span *ngIf="title.errors?.required"> Please fill in the title</span>
          <span *ngIf="title.value.length<4"> The title should be at least 4 charectars</span>
        </span>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-3">
        <span *ngIf="initialReply.touched" [labelValidation]="initialReply.valid"></span>
        <label>Message</label>
      </div>
      <div class="col-md-5">
        <textarea type="text"
                  ngModel
                  #initialReply="ngModel"
                  name="initialReply"
                  required
                  minlength="5"
                  rows="10"
                  class="rounded w-100"></textarea><br />
        <span *ngIf="initialReply.invalid && initialReply.touched" class="danger w-100 d-block">
          <span *ngIf="
        initialReply.errors?.required">
            Please fill in your message
          </span><br />
          <span *ngIf="initialReply.value.length<5">Message should contain at least 5 charectars</span>
        </span>
      </div>
      <div class="col-md-2">
        <app-image-preview (file)="setFile($event)"></app-image-preview>
      </div>
    </div>
    <br />
    <div class="row" *ngIf="categories$ | async as categories">
      <div class="col-md-3">
        <span *ngIf="category.touched" [labelValidation]="category.valid" ></span>
        <label>Category</label>
      </div>
      <div class="col-md-5 ">
        <select ngModel #category="ngModel" name="category" required class="border w-100">      
          <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
        </select>
        <span *ngIf="category.invalid && category.touched" class="danger  w-100 d-block">
          <span *ngIf="category.errors?.required"> Please select a category</span>
        </span>
      </div>
    </div><br/>
    <button type="submit" [disabled]="f.invalid" class="button d-inline-block mr-2" [allowSubmit]="f.valid"> Submit </button>
    <a routerLink="/customers/tickets"
       class="button d-inline-block bg-secondary">Cancel</a>
    <br />
  </form>

</div>
<app-confirm-dialog *ngIf="isConfirmDialogOpen" [question]="'Discard new ticket?'" (isConfirmed)="onConfirm($event)"></app-confirm-dialog>
<app-alert *ngIf="(error$ | async) as error" [message]="error" (close)="onCloseAlert()"></app-alert>
