<form *ngIf="!checkEmail;else emailSent" #registerForm="ngForm" (ngSubmit)="onEmployeeRegister(registerForm.value)" class="m-5 text-center col-md-10">
  <h1 class="text-center">Hi, {{employeeRegisterFormProps.employeePreRegisterUserName}}</h1>
  <h3 class="text-center">Please enter your details</h3>
  <div class="row col-md-10">
    <div class="col-md-5">
      <label>Email:</label>
    </div>
    <div class="col-md-7">
      {{employeeRegisterFormProps.employeePreRegisterCorporateEmail}}
    </div>
  </div><br />
  <div class="row col-md-10">
    <div class="col-md-5">
      <span *ngIf="password.touched" [labelValidation]="password.valid" ></span>
      <label>Password:</label>
    </div>
    <div class="col-md-7">
      <input type="password" ngModel name="password" #password="ngModel" required minlength="6" maxlength="30" pattern="^(?=.*[0-9])(?=.*[a-z]).{6,30}$" class="mx-auto d-block box-field" />
      <span *ngIf="!password.valid && password.touched" class="danger mx-auto d-block box-field">
        <span *ngIf="password.value.length<6">Password must be at least 6 characthers</span>
        <span *ngIf="password.value.length>30">Password must mot exceed 30 characthers</span>
        <span *ngIf="password.errors.pattern">Password must contain at least one digit and one letter</span>
      </span>
    </div>
  </div>
  <br />
  <div class="row col-md-10">
    <div class="col-md-5">
      <span *ngIf="confirmPassword.touched" [labelValidation]="confirmPassword.valid"></span>
      <label>Confirm Password:</label>
    </div>
    <div class="col-md-7">
      <input type="password" ngModel name="confirmPassword" #confirmPassword="ngModel" required minlength="6" maxlength="30" pattern="^(?=.*[0-9])(?=.*[a-z]).{6,30}$" class="mx-auto d-block box-field" />
      <span *ngIf="!confirmPassword.valid && confirmPassword.touched" class="danger mx-auto d-block box-field">
        <span *ngIf="confirmPassword.value.length<6">Password must be at least 6 characthers</span>
        <span *ngIf="confirmPassword.value.length>30">Password must mot exceed 30 characthers</span>
        <span *ngIf="confirmPassword.errors.pattern">Password must contain at least one digit and one letter</span>
      </span>
      <span *ngIf="confirmPassword.touched && confirmPassword.value!==password.value" class="danger mx-auto d-block box-field">Passwords must match!</span>
    </div>
  </div>
  <br />
  <div class="row col-md-10">
    <div class="col-md-5">

      <span *ngIf="phoneNumber.touched" [labelValidation]="phoneNumber.valid" ></span>
      <label>Phone number:</label>
    </div>
    <div class="col-md-7">
      <input type="text" ngModel name="phoneNumber" #phoneNumber="ngModel" pattern="^\d{10}$" class="mx-auto d-block box-field" />
      <span *ngIf="!phoneNumber.valid && phoneNumber.touched" class="danger mx-auto d-block box-field">
        <span *ngIf="phoneNumber.errors.pattern">please fill in 10 digits</span>
      </span>
    </div>
  </div><br />
  <button type="submit" class="button d-block mx-auto" [disabled]="!registerForm.valid" [allowSubmit]="registerForm.valid">Register</button>
</form>

<ng-template #emailSent>
  <div>
    <h1 class="text-center mt-4">You have successfully registered!</h1>
    <h3 class="text-center mt-4">An email has been sent to your personal address.</h3>
  </div>
</ng-template>

<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<app-alert *ngIf="(error$ | async) as error" [message]="error" (close)="onCloseAlert()"></app-alert>
