<h1 class="text-center">Password Recovery</h1>
<form #f="ngForm" (ngSubmit)="onSubmit(f.value)" class="m-5 text-large text-center col-md-10 row">
  <div class="col-md-12 row mb-2">
    <div class="col-md-4">
      <app-td-form-label-validation [inputName]="email"></app-td-form-label-validation>
      <label>Email:</label>
    </div>

    <div class="col-md-8">
      <input type="text" ngModel name="email" #email="ngModel" required email class="mx-auto d-block box-field" />
      <span *ngIf="!email.valid && email.touched" class="danger mx-auto d-block box-field">
        <span *ngIf="email.errors.required">Please fill in your email</span>
        <span *ngIf="email.errors.email">Please enter a valid email</span>
      </span>
    </div>
  </div>
  <br />
  <div class="col-md-12 row">
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-8">
      <button type="submit" class="button d-block mx-auto w-75" [disabled]="!f.valid" [allowSubmit]="f.valid">Reset Password</button>
    </div>
  </div>
</form>
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<app-alert *ngIf="message!=null" [message]="message" (close)="onConfirm()"></app-alert>
