.danger {
  background-color: #ed4040;
  border-width: 0px 2px 2px 2px;
  border-color:black;
  border-style:solid;
}
.invalid-circle, .success {
  width: 20px;
  height: 20px;
  line-height:20px;
  display: inline-block;
}
.invalid-circle {
  border-radius: 50%;
}

.success {
  font-size: 14px;
  background-color: #34e084;
  text-align:center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
