
<div  [ngSwitch]="formType" class="d-block mx-auto box  mt-5 rounded bg-light border border-dark b-shadow">

    <app-customer-register-form *ngSwitchCase="formTypes.customerFormType"></app-customer-register-form>

    <app-employee-pre-register-form *ngSwitchCase="formTypes.employeePreRegisterFormType"></app-employee-pre-register-form>

    <app-employee-register-form *ngSwitchCase="formTypes.employeeRegisterFormType" [employeeRegisterFormProps]="employeeRegisterFormProps"></app-employee-register-form>

  </div>

<app-alert *ngIf="(error$ | async) as error" [message]="error" (close)="onCloseAlert()"></app-alert>
