<div class="container c-component no-opacity fade-in col-md-10 p-2 Ingredient">
  <h3>Edit Details</h3>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()" *ngIf="editForm">
    <div class="form-group m-2 row">
      <div class="col-md-3">
        <app-reactive-form-label-validation [form]="editForm" [inputName]="'name'"></app-reactive-form-label-validation>
        <label for="name">Name:</label>
      </div>
      <div class="col-md-9">
        <input type="text" class="border-bottom" formControlName="name" required />
        <br />
        <span *ngIf="editForm.get('name').invalid" class="danger d-block">
          <span *ngIf="editForm.get('name').errors?.minlength">Name should be longer than 1 character</span>
          <span *ngIf="editForm.get('name').errors?.required">Please fill in your email</span>
        </span>
      </div>
    </div>
    <div class="form-group m-2 row">
      <div class="col-md-3">
        <app-reactive-form-label-validation [form]="editForm" [inputName]="'email'"></app-reactive-form-label-validation>
        <label for="email">Email:</label>
      </div>
      <div class="col-md-9">
        <input type="text" class="border-bottom" formControlName="email" required />
        <br />
        <span *ngIf="editForm.get('email').invalid" class="danger d-block">
          <span *ngIf="editForm.get('email').errors?.email">Please enter a valid email</span>
          <span *ngIf="editForm.get('email').errors?.required">Please fill in your name</span>
        </span>
      </div>

    </div>
    <div class="form-group m-2 row">
      <div class="col-md-3">
        <label for="adress">Active status:</label>
      </div>
      <div class="col-md-9">
        <input type="checkbox" class="border-bottom d-inline-block" formControlName="isActive"/><br />
      </div>
    </div>


    <div class="col-md-12 row">
      <div class="col-md-6">
        <button type="submit" class="button d-inline-block  ml-2" [disabled]="editForm.invalid" [allowSubmit]="editForm.valid">Save</button>
      </div>
      <div class="col-md-6">
        <button class="button d-inline-block bg-danger" (click)="onCancelEdit()" type="button">Cancel</button>
      </div>
    </div>
  </form>
</div>
<app-confirm-dialog *ngIf="isConfirmDialogOpen" [question]="confirmQuesion" (isConfirmed)="onConfirm($event)"></app-confirm-dialog>
<app-alert *ngIf="(error$ | async) as error" [message]="error" (close)="onCloseAlert()"></app-alert>
