<h1 class="text-center m-3">Auth Log</h1>
<div class="container-fluid fade-in c-component">
  <div class="row">
    <div class="col-md-8 mx-auto">

      <div class="col-md-12 row">
        <div class="col-md-3"><b>Date</b></div>
        <div class="col-md-3"><b>User Name</b></div>
        <div class="col-md-3"><b>Details</b></div>
        <div class="col-md-3"><b>Action</b></div>
      </div>
      <ng-template #loading>
        <app-loading-spinner></app-loading-spinner>
      </ng-template>

      <div class="card-body col-md-12" *ngIf="logs$ | async; else loading;">
        <ng-container *ngIf="logPage$ | async as logPage">
          <div *ngFor="let log of logPage" class="border-bottom row">

            <div class="col-md-3">{{log.date | date:'dd/MM/yyyy-HH:mm'}}</div>
            <div class="col-md-3"> {{log.userName}}</div>
            <div class="col-md-3"> {{log.details}}</div>
            <div class="col-md-3"> {{log.action}}</div>
          </div>
        </ng-container>
        <div class="card-footer pb-0 pt-3">
          <jw-pagination [items$]="logs$" (changePage)="onChangePage($event)" [pageSize]="10"></jw-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
