
<div class="d-block text-center mx-auto w-50 m-5 text-large">
  <h3 class="text-sm-center"><u>How to use</u></h3>
  <p class=" text-sm-center mb-3">
    On the login page there is a list of users for each different role.
    Feel free to use these users to play around and see how the system works.
  </p>
  <p class="text-large text-sm-center mb-5">
    In addition to the registered users, you can register your own user by providing your <b>real</b> email address and confirming the registration proccess.<br />
  </p>
  <p class="text-large text-sm-center mb-5">
    <b>The data on this website is fake and it is used for testing purposes only.</b>
  </p>

</div>



