<div class="d-block mx-auto">
  <div class="row w-100 mobile-only">
    <h3 class="center-text col-6 p-0 inline-flex">Filter by category: </h3>
    <div class="col-5 inline-flex">
      <select *ngIf="categories$ | async as categories" class="search-ul mb-0">
        <option *ngFor="let cat of categories" (click)="onSelectCategory(cat.name)" [selected]="cat.name == selectAll">{{cat.name}}</option>
      </select>
    </div>
  </div>

  <select *ngIf="categories$ | async as categories" class="desktop-only search-ul mb-0">
    <option *ngFor="let cat of categories" (click)="onSelectCategory(cat.name)" [selected]="cat.name == selectAll">{{cat.name}}</option>
  </select>
</div>
