<div class="container-fluid fade-in p-0">
  <div class="row">
    <div class="col-md-6 c-component">

      <a *ngIf="isCustomer"
         routerLinkActive="active"
         routerLink="/customers/tickets/new"
         class="d-inline-block text-center">+Open a new ticket</a>
      <button (click)="reFetchTickets()" class="button-secondary font-weight-bold rounded">Refetch Tickets</button>
      <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
      <div *ngIf="(tickets$ | async)?.length > 0; else nothingFound" class="card-body">
        <h2 class="text-center mb-5">Ticket List</h2>
        <div class="row desktop-only">
          <div class="col-md-9"> </div>
          <div class="col-md-2">
            <app-category-filter></app-category-filter>
          </div>
          <div class="col-md-1 p-0">
            <app-status-filter></app-status-filter>
          </div>
        </div>
        <ng-container *ngIf="pageOfTickets$ | async as pageOfTickets">
          <a *ngFor="let ticket of pageOfTickets" class="border-bottom row pointer"  routerLinkActive="active" routerLink="{{ticket.id}}">
            <div class="col-md-3 p-2 row">
              <span class="col-md-6">Ticket#: {{ ticket.id }}</span>
              <span *ngIf="!isCustomer" class="col-md-6">{{ticket.customerName}}</span>
            </div>
            <div class="col-md-3">
              <span> {{ ticket.openDate | date :'dd/MM/yyyy-HH:mm'}}</span>
            </div>
          <div class="col-md-3">           
            {{ ticket.title }}
          </div>
            <span class="col-md-2 text-center">{{ticket.category}}</span>
            <span [statusColor]="ticket.status" class="col-md-1 text-center">{{ticket.status}}</span>
          </a>
        </ng-container>
        <div class="card-footer pb-0 pt-3">
          <jw-pagination [items$]="tickets$" (changePage)="onChangePage($event)" [pageSize]="10"></jw-pagination>
        </div>

      </div>

      <ng-template #nothingFound>
        <h3>No results.</h3>
      </ng-template>
      <div class="col-md-12 row">
        <div class="col-md-6 mx-auto">
          <app-search [roleTypeSearch]=customerRole></app-search>
        </div>
        <div class="col-md-12 mobile-only">
          <app-category-filter></app-category-filter>
        </div>
        <div class="col-md-12 mobile-only">
          <app-status-filter></app-status-filter>
        </div>
      </div>
    </div>

    <div class="col-md-6 p-0">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
<app-alert *ngIf="(error$ | async) as error" [message]="error" (close)="onCloseAlert()"></app-alert>

