<div class="row col-md-6 mx-auto c-component Ingredient mt-4 text-center">

  <h1 >Reset Password</h1>

  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">

    <div class="col-md-12 row mb-2">
      <div class="col-md-4">
        <span *ngIf="newPassword.touched" [labelValidation]="newPassword.valid" ></span>
        <label>New Password:</label>
      </div>

      <div class="col-md-8">
        <input type="password" ngModel name="newPassword" #newPassword="ngModel" required minlength="6" maxlength="30" pattern="^(?=.*[0-9])(?=.*[a-z]).{6,30}$" class="mx-auto d-block box-field" />
        <span *ngIf="!newPassword.valid && newPassword.touched" class="danger mx-auto d-block box-field">
          <span *ngIf="newPassword.value.length<6">Password must be at least 6 characthers</span>
          <span *ngIf="newPassword.value.length>30">Password must mot exceed 30 characthers</span>
          <span *ngIf="newPassword.errors.pattern">Password must contain at least one digit and one letter</span>
        </span>
      </div>
    </div>
    <div class="col-md-12 row mb-2">
      <div class="col-md-4">
        <span *ngIf="confirmPassword.touched" [labelValidation]="confirmPassword.valid" ></span>
        <label>Confirm password:</label>
      </div>

      <div class="col-md-8">
        <input type="password" ngModel name="confirmPassword" #confirmPassword="ngModel" required minlength="6" maxlength="30" pattern="^(?=.*[0-9])(?=.*[a-z]).{6,30}$" class="mx-auto d-block box-field" />
        <span *ngIf="!confirmPassword.valid && confirmPassword.touched" class="danger mx-auto d-block box-field">
          <span *ngIf="confirmPassword.value.length<6">Password must be at least 6 characthers</span>
          <span *ngIf="confirmPassword.value.length>30">Password must mot exceed 30 characthers</span>
          <span *ngIf="confirmPassword.errors.pattern">Password must contain at least one digit and one letter</span>
        </span>
        <span *ngIf="confirmPassword.touched && confirmPassword.value!==newPassword.value" class="danger mx-auto d-block box-field">Password confirmation must match!</span>
      </div>
    </div>

    <div class="col-md-12 row">
      <div class="col-md-4">&nbsp;</div>
      <div class="col-md-8">
        <button type="submit" class="button d-block mx-auto w-75" [disabled]="!f.valid" [allowSubmit]="f.valid">Reset Password</button>
      </div>
    </div>
  </form>
</div>
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<app-alert *ngIf="message!=null" [message]="message" (close)="onConfirm()"></app-alert>
<app-alert *ngIf="(error$ | async) as error" [message]="error" (close)="onCloseAlert()"></app-alert>
